MVC_ClienteMatricula/Connected Services/ProxyCursos/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioCursos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCursos_ActualizarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_ActualizarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_ConsultarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_ConsultarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_EliminarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_EliminarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_InsertarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_InsertarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_ListarCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCurso" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_ListarCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_ListarCurso2_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCurso2" />
  </wsdl:message>
  <wsdl:message name="IServicioCursos_ListarCurso2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCurso2Response" />
  </wsdl:message>
  <wsdl:portType name="IServicioCursos">
    <wsdl:operation name="ActualizarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCursos/ActualizarCurso" message="tns:IServicioCursos_ActualizarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCursos/ActualizarCursoResponse" message="tns:IServicioCursos_ActualizarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCursos/ConsultarCurso" message="tns:IServicioCursos_ConsultarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCursos/ConsultarCursoResponse" message="tns:IServicioCursos_ConsultarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCursos/EliminarCurso" message="tns:IServicioCursos_EliminarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCursos/EliminarCursoResponse" message="tns:IServicioCursos_EliminarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCursos/InsertarCurso" message="tns:IServicioCursos_InsertarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCursos/InsertarCursoResponse" message="tns:IServicioCursos_InsertarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCursos/ListarCurso" message="tns:IServicioCursos_ListarCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCursos/ListarCursoResponse" message="tns:IServicioCursos_ListarCurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCurso2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCursos/ListarCurso2" message="tns:IServicioCursos_ListarCurso2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCursos/ListarCurso2Response" message="tns:IServicioCursos_ListarCurso2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCursos" type="tns:IServicioCursos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCursos/ActualizarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCursos/ConsultarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCursos/EliminarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCursos/InsertarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCurso">
      <soap:operation soapAction="http://tempuri.org/IServicioCursos/ListarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCurso2">
      <soap:operation soapAction="http://tempuri.org/IServicioCursos/ListarCurso2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCursos">
    <wsdl:port name="BasicHttpBinding_IServicioCursos" binding="tns:BasicHttpBinding_IServicioCursos">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Matriculas/ServicioCursos/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>