MVC_ClienteMatricula/Connected Services/ProxyEspecialidades/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" />
  <xs:element name="ListarEspecialidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarEspecialidadResult" nillable="true" type="q1:ArrayOfDCEspecialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>