MVC_ClienteMatricula/Connected Services/ProxySecciones/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" />
  <xs:element name="ActualizarSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="objSeccionDC" nillable="true" type="q1:SeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSeccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ConsultarSeccionResult" nillable="true" type="q2:SeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSeccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="objSeccionDC" nillable="true" type="q3:SeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarSeccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarSeccionResult" nillable="true" type="q4:ArrayOfSeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccion2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccion2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarSeccion2Result" nillable="true" type="q5:ArrayOfSeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccionCurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCurso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccionCursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarSeccionCursoResult" nillable="true" type="q6:ArrayOfSeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccionProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodProfesor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccionProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarSeccionProfesorResult" nillable="true" type="q7:ArrayOfSeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccionSede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodSede" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSeccionSedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarSeccionSedeResult" nillable="true" type="q8:ArrayOfSeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSeccionesPorCurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCurso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSeccionesPorCursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ObtenerSeccionesPorCursoResult" nillable="true" type="q9:ArrayOfSeccionDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>