MVC_ClienteMatricula/Connected Services/ProxySecciones/WCF_Matriculas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Matriculas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SeccionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Cur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Hor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Sed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_Sec" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Fec_Reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Horario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modalidad" type="xs:short" />
      <xs:element minOccurs="0" name="Nom_Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompletoProfesor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num_Aula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Reg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cupo" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeccionDC" nillable="true" type="tns:SeccionDC" />
  <xs:complexType name="ArrayOfSeccionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeccionDC" nillable="true" type="tns:SeccionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeccionDC" nillable="true" type="tns:ArrayOfSeccionDC" />
</xs:schema>