MVC_ClienteMatricula/Connected Services/ProxyProfesores/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" />
  <xs:element name="ActualizarProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="objProfesorDC" nillable="true" type="q1:ProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProfesorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ConsultarProfesorResult" nillable="true" type="q2:ProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProfesorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="objProfesorDC" nillable="true" type="q3:ProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarProfesorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarProfesorResult" nillable="true" type="q4:ArrayOfProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesor2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesor2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarProfesor2Result" nillable="true" type="q5:ArrayOfProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesorEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodEspecialidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesorEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarProfesorEspecialidadResult" nillable="true" type="q6:ArrayOfProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesorCurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCurso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProfesorCursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarProfesorCursoResult" nillable="true" type="q7:ArrayOfProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCargaTrabajoProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCargaTrabajoProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ObtenerCargaTrabajoProfesorResult" nillable="true" type="q8:ArrayOfProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProfesoresPorCurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCurso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProfesoresPorCursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ObtenerProfesoresPorCursoResult" nillable="true" type="q9:ArrayOfProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProfesoresPorEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodEspecialidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProfesoresPorEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ObtenerProfesoresPorEspecialidadResult" nillable="true" type="q10:ArrayOfProfesorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>