MVC_ClienteMatricula/Connected Services/ProxyProfesores/WCF_Matriculas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Matriculas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Espec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_Pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion_Pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_Pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_Pro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Fec_Nac_Pro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto_Pro" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Pro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_secciones" type="xs:short" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Reg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfesorDC" nillable="true" type="tns:ProfesorDC" />
  <xs:complexType name="ArrayOfProfesorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfesorDC" nillable="true" type="tns:ProfesorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfesorDC" nillable="true" type="tns:ArrayOfProfesorDC" />
</xs:schema>