MVC_ClienteMatricula/Connected Services/ProxySedes/WCF_Matriculas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Matriculas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSedeDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SedeDC" nillable="true" type="tns:SedeDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSedeDC" nillable="true" type="tns:ArrayOfSedeDC" />
  <xs:complexType name="SedeDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Sed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desc_Sed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicación" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cantCursos" type="xs:int" />
      <xs:element minOccurs="0" name="cantProfesores" type="xs:int" />
      <xs:element minOccurs="0" name="cantSecciones" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SedeDC" nillable="true" type="tns:SedeDC" />
</xs:schema>